<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>

<a class="list_view_box">
  <div class="blog-card"  ng-click="openCompanyDetails(company)" ng-style="getCompanyIcon(company)">

    <div class="title-content">
      <h3><a href="#">{{company.name}}</a></h3>
      <!--<div class="intro"><a href="#">{{company.botanical_name}}</a></div>-->
    </div>
    <div class="card-info">
      {{company.reports}} Reports
    </div>
    <div class="gradient-overlay"></div>
    <div class="color-overlay"></div>
  </div>
</a>

