<head>
  <link rel="stylesheet" type="text/css" href="modules/list_view/client/css/oil_card.css">
</head>
<a class="list_view_box">

<div class="blog-card spring-fever" style="background: url({{oil.icon}})">
  <div class="title-content">
    <h3><a href="#">{{oil.title}}</a></h3>
    <div class="intro"> <a href="#">{{oil.botanicalName}}</a> </div>
  </div>
  <div class="card-info">
    {{oil.reportNumber}} Reports
  </div>
  <div class="gradient-overlay"></div>
  <div class="color-overlay"></div>
</div><!-- /.blog-card -->
</a>

