<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>

<a class="list_view_box">
  <!--ng-src="{{oil.icon}}"-->
  <div class="blog-card"  ng-click="openOilDetails(oil)" ng-style="getOilIcon(oil)">

    <div class="title-content">
      <h3><a href="#">{{oil.name}}</a></h3>
      <div class="intro"><a href="#">{{oil.botanical_name}}</a></div>
    </div>
    <div class="card-info">
      {{oil.reports}} Reports
    </div>
    <div class="gradient-overlay"></div>
    <div class="color-overlay"></div>

  </div>
</a>

