<section class ="searchbar">

  <div class="input-group" id="searchBar">

    <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
    <input type="text" class="form-control" placeholder="Search" ng-model="searchTerm">

    <span class="input-group-btn">
    <button class="btn btn-primary" ng-click="openOilModal()" target="_blank">
      New Oil
    </button>
      <button class="btn btn-primary" ng-click="openReportModal()" target="_blank">
      New Report
    </button>
  </span>
  </div>

</section>


