<!-- The chat view -->
<section class="container" ng-controller="LearnMoreController">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>


  <p id="testing">
  asdfm askldfkl asdklfkl sadklf ksladfkl skadlfkls kldfklas dklfna skldnfkl asdnasdfm askldfkl asdklfkl sadklf ksladfkl skadlfkls kldfklas dklfna skldnfkl asdn
    asdfm askldfkl asdklfkl sadklf ksladfkl skadlfkls kldfklas dklfna skldnfkl asdnasdfm askldfkl asdklfkl sadklf ksladfkl skadlfkls kldfklas dklfna skldnfkl asdn
    asdfm askldfkl asdklfkl sadklf ksladfkl skadlfkls kldfklas dklfna skldnfkl asdn
    asdfm askldfkl asdklfkl sadklf ksladfkl skadlfkls kldfklas dklfna skldnfkl asdn
    asdfm askldfkl asdklfkl sadklf ksladfkl skadlfkls kldfklas dklfna skldnfkl asdnasdfm askldfkl asdklfkl sadklf ksladfkl skadlfkls kldfklas dklfna skldnfkl asdnvasdfm askldfkl asdklfkl sadklf ksladfkl skadlfkls kldfklas dklfna skldnfkl asdnasdfm askldfkl asdklfkl sadklf ksladfkl skadlfkls kldfklas dklfna skldnfkl asdnasdfm askldfkl asdklfkl sadklf ksladfkl skadlfkls kldfklas dklfna skldnfkl asdn
    asdfm askldfkl asdklfkl sadklf ksladfkl skadlfkls kldfklas dklfna skldnfkl asdn
  </p>


</section>
