<head>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
</head>

<section class="container-fluid">

  <h1 style="font-family: Kaushan Script;" class="Title">
    Essential Validation Services
  </h1>
  <br><br>

  <div class="input-group" id="searchBar">
    <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
    <input type="text" class="form-control" placeholder="Search" ng-model="query">
  </div>

  <div>
    <div class="active-tab">Oils</div>
    <div class="inactive-tab" ui-sref="companies.list">Companies</div>
  </div>

  <div class="oils container-fluid col-md-12">
    <div data-ng-repeat="oil in vm.oils | orderBy: 'name' | filter: query" data-ui-sref="oils.view({oilId: oil._id})"
         class="list_view_box_space col-md-3 col-sm-5 col-xs-6">
      <a class="list_view_box">
        <div class="blog-card" style='border: 2px solid {{oil.color}};background-image:url("{{oil.icon}}")'>
          <div class="title-content" style="background-color:{{oil.color}}">
            <h3><a href="#">{{oil.name}}</a></h3>
          </div>
          <div class="footer-content" style="background-color:#fff;border-top:2px solid {{oil.color}}">
            <div class="bot_name" style="border-right: 2px solid {{oil.color}}">
              <p style="margin-bottom:0px"><b>Botanical Name</b></p>
              <p><i>{{oil.botanical}}</i></p>
            </div>
            <div class="report_num">
              <p style="margin-bottom:0px"><b>Number of Reports</b>
              <p>{{oil.reports}}</p>
            </div>
          </div>
          <div class="compound" style="margin-bottom:0px;background-color:{{oil.color}}">
            <div class="comp_left">Main Compound: </div>
            <div class="comp_right">{{oil.compound}}</div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
