.list_view_box {
	margin: 1em auto;
	width: 12em;
}

.list_view_box_space {
	text-align: center;
}

.list-group-item:hover .list_view_content {
	opacity: 0.2;
}

.list-group-item:hover .list_view_hidden_content {
	opacity: 1;
}

.list_view_content img {
	width: 100%;
}

.list_view_hidden_content {
	opacity: 0;
	transition: .8s ease;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: black;
	color: white;
	width: 100%;
}

.list_view_content {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

