<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title></title>
</head>

<body>
<p>Dear {{name}},</p>
<p></p>
<p>This is a notifcation that your account to the Essential Validation Services Database has been closed and subscription terminated. If you'd like to resume your membership at any time in the future, just sign up again <a href="https://essentialvalidationservices.com/authentication/signup">here</a>.</p>
<p></p>
<p>The {{appName}} Support Team</p>
</body>

</html>
