<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link href="modules/core/client/css/style.css" rel="stylesheet">
</head>


<section id="front-page" class="front-page">
  <html lang="en">
    <body>
      <section class="probootstrap-hero prohttp://localhost/probootstrap/frame/#featuresbootstrap-slant" style="background-image: url(/modules/core/client/img/brand/coverflask.jpg);" data-section="home" data-stellar-background-ratio="0.5" id="frontpage1">
        <!-- <div class="container"> -->
          <div class="row intro-text">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h1 class="probootstrap-heading" style="margin-bottom:0px">Essential Validation Services</h1>
              <h2 style="color:white"><em>Certifying your essential oils as pure and genuine</em></h2>
              <div class="probootstrap-subheading center">
                <p><a href="#features" class="btn btn-default smoothscroll" role="button">Learn More</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </section>

    <section class="probootstrap-section" id="about" style="background-image: url(/modules/core/client/img/sections/joinus.png); background-size: cover;">
      <div class="container">
        <div class="row text-center mb40">
          <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
            <h2 class="mb30 text-black probootstrap-heading">Join Us In The Fight Against Adulteration</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <p id="paragraph-font">Essential Validation Services (EVS) is a third-party independent laboratory specializing in affordable quality assurance testing of essential oils, creating transparency throughout the supply chain and ensuring integrity within the essential oil industry.</p>
            <p><a href="authentication/signup" class="btn btn-black">Sign Up Now</a></p>
          </div>
        </div>
      </div>
    </section>

      <section class="probootstrap-section" style="background-image: url(/modules/core/client/img/sections/plants.png); background-repeat: no-repeat; background-size: cover;">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
              <div class="probootstrap-service-item" style="margin-bottom:0;" data-animate-effect="fadeIn">
                <div id="center-text" style="text-align: right";>
                  <img src="/modules/core/client/img/glyph-img/check.png" height="100" width="100" align="middle">
                  <h2><b>3rd Party Verification</b></h2>
                </div>
                <p id="paragraph-font" style="margin-bottom:0; text-align: right;"> Never buy an oil without <b style="color:#007d00">3<sup>rd</sup> Party GCMS testing</b>. Many oils contain petroleum based synthetics, diluents, contaminants and adulterations. Trust EVS to help you <i style="color:#007d00"><b>get what you pay for.</b></i></p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <div class="probootstrap-service-item" style="margin-bottom:0;" data-animate-effect="fadeIn">
                <div id="center-text" style="text-align: center;">
                  <img src="/modules/core/client/img/glyph-img/certified2.png" height="100" width="100" align="middle"><br>
                  <h2 style="align: center;"><b>Customers Care </b></h2>
                </div>
                <p id="paragraph-font" style="margin-bottom:0; text-align: center;">Your customers are serious about adulteration. Show them you care with <b style="color:#007d00">EVS Certification.</b></p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <div class="probootstrap-service-item" style="margin-bottom:0;" data-animate-effect="fadeIn">
                <div id="center-text" style="text-align: left;">
                  <img src="/modules/core/client/img/glyph-img/cart.png" height="100" width="100" align="middle"><br>
                  <h2 style="align: right;"><b>Buy with Confidence</b></h2>
                </div>
                <p id="paragraph-font" style="margin-bottom:0;">The <b style="color:#007d00">EVS Program</b> is dedicated to helping you find <i style="color:#007d00">pure</i> and <i style="color:#007d00">genuine</i> oils. Search the largest database in the world to find oils that have been <b style="color:#007d00">tested</b> and <b style="color:#007d00">approved</b> by EVS.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
              <div align="right" style="padding-right: 25px;">
                <p><a href="#placeholdertest" class="btn btn-primary" role="button">Learn More</a></p>
              </div>
            </div>
            <div class="col-md-4  col-sm-4 col-xs-4">
              <div id="center-text">
                <p><a href="#placeholdertest1" class="btn btn-primary" role="button">Learn More</a></p>
              </div>
            </div>
            <div class="col-md-4  col-sm-4 col-xs-4">
              <div align="left" style="padding-left: 25px;">
                <p><a href="#placeholdertest2" class="btn btn-primary" role="button">Learn More</a></p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- END section -->
    <section class="probootstrap-section" id="features" data-section="features">
      <div class="container">
        <div class="row text-center mb40">
          <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
            <h2 class="mb30 text-black probootstrap-heading">Features</h2>
          </div>
        </div>
        <!-- END row -->
        <div id="placeholdertest" style="margin-top:0;margin-bottom:0;padding:0">
          <div class="row is-flex" style="margin-top:0;margin-bottom:0">
            <div class="col-md-6" id="ipad">
              <img src="/modules/core/client/img/ipad/ipad1.png" width="500" height="400" class="img-responsive" style="padding-top:100px;padding-bottom:100px">
            </div>
            <div class="col-md-6 probootstrap-section-heading" style="background-image: url(/modules/core/client/img/brand/background.png);background-size: cover;text-align:center">
              <b>
                <h2 class="text-primary probootstrap-heading" id="ipad-section">3<sup>rd</sup> Party Verification</h2><br>
                <p id="paragraph-font" style="font-size:26px"><i>We believe that trust is built on <b style="color:#007d00">integrity</b>, so we are uncompromisingly:</i></p><br>
                <ul class="probootstrap-list" style="margin-left:20%;margin-right:20%;text-align:left;font-size:20px">
                  <li class="probootstrap-check">Outside the Supply Chain</li>
                  <li class="probootstrap-check">Free from Conflicts of Interest</li>
                  <li class="probootstrap-check">Removed from Industry Entanglements</li>
                  <li class="probootstrap-check">Qualified and Specialized</li>
                </ul>
              </b>
            </div>
          </div>
        </div>
        <!-- END row -->
        <div id="placeholdertest1" style="margin-top:0;margin-bottom:0;padding:0">
          <div class="row is-flex" style="margin-top:0;margin-bottom:0">
            <div class="col-md-6 probootstrap-section-heading" style="background-image: url(/modules/core/client/img/brand/background.png);background-size:cover;text-align:center">
              <b>
                <h2 class="text-primary probootstrap-heading" id="ipad-section">EVS Certification</h2><br>
                <p id="paragraph-font" style="font-size:26px"><i>Use EVS's trademarked certification to promote your pure oils.</i></p><br>
                <ul class="probootstrap-list" style="margin-left:20%;margin-right:20%;text-align:left;font-size:20px">
                  <li>We partner with:</li>
                  <li class="probootstrap-check">Institutions - University of Florida</li>
                  <li class="probootstrap-check">Specialists</li>
                  <li class="probootstrap-check">Recognized Standardization Bodies - ISO, AFNOR, IFRA</li>
                  <li>To authenticate each oil.</li>
                </ul>
              </b>
            </div>
            <div class="col-md-6" id="ipad">
              <img src="/modules/core/client/img/ipad/ipad2.png" width="500" height="400" class="img-responsive" style="padding-top:100px;padding-bottom:100px">
            </div>
          </div>
        </div>
        <!-- END row -->
        <div id="placeholdertest2" style="margin-top:0;margin-bottom:0;padding:0">
          <div class="row is-flex" style="margin-top:0;margin-bottom:0">
            <!-- <div class="col-md-8 col-md-pull-2"> -->
            <div class="col-md-6" id="ipad">
              <img src="/modules/core/client/img/ipad/ipad3.png" width="500" height="400" class="img-responsive" style="padding-top:100px">
            </div>
            <!-- <div class="col-md-4 col-md-pull-1 probootstrap-section-heading"> -->
            <div class="col-md-6 probootstrap-section-heading" style="background-image: url(/modules/core/client/img/brand/background.png);background-size: cover; text-align:center">
              <b>
                <h2 class="text-primary probootstrap-heading" id="ipad-section">The EVS Database</h2><br>
                <p id="paragraph-font" style="font-size:26px"><i>We make it easy to find pure and unadulterated essential oils.</i></p><br>
                <ul class="probootstrap-list" style="margin-left:20%;margin-right:20%;text-align:left;font-size:20px">
                  <li class="probootstrap-check">The #1 Essential Oil Testing Database!</li>
                  <li class="probootstrap-check">Every oil is tested and approved by EVS.</li>
                  <li class="probootstrap-check">Buy your favorite oil from your favorite company or try a new one.</li>
                  <li class="probootstrap-check">Are you looking for a new supplier? Search for distillers and wholesalers.</li>
                </ul>
              </b>
            </div>
          </div>
        </div>
        <!-- END row -->
      </div>
    </section>
    <!-- END section -->
    <section class="probootstrap-section" data-section="pricing">
      <div class="container">
        <div class="row text-center mb100">
          <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
            <h3 class="mb30 text-black probootstrap-heading">Try Us Today</h3>
          </div>
          <div class="col-md-8 col-md-offset-2 text-center">
            <p id="paragraph-font">Here at EVS we are dedicated to helping you know for certain that the essential oils you buy are unadulterated and genuine. Join us today in the fight for purity.</p>
            <p><a href="authentication/signup" class="btn btn-black">Sign Up Now</a></p>
          </div>
        </div>
        <!-- END row -->
        <div class="row is-flex">
          <div class="col-md-5 col-sm-5 col-xs-5 col-md-offset-1 col-sm-offset-1 col-xs-offset-1" id="pricing-companies">
            <div class="probootstrap-pricing">
              <div class="pricing-text">
                <h2><u>Companies</u></h2>
                <p class="probootstrap-price"><strong>$265.00</strong></p>
                <h2>Adulteration Testing</h2><br>
                <div style="display:inline-block; text-align: left;">
                  <ul class= "text-middle">
                    <li>GCMS</li>
                    <li>Optical Rotation</li>
                    <li>Specific Gravity</li>
                    <li>Refractive Index</li>
                  </ul>
                  <br>
                  <ul class="probootstrap-list text-middle mb50">
                    <li class="probootstrap-check">Customized Reports</li>
                    <li class="probootstrap-check">Quick Turnaround Times</li>
                    <li class="probootstrap-check">Access to the EVS Database</li>
                  </ul>
                </div>
              </div>
              <div class="pricing-button">
                <p><a href="#contact" class="btn btn-primary">Request Quote</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-sm-5 col-xs-5" id="pricing-customers">
            <div class="probootstrap-pricing">
              <div class="pricing-text">
                <h2><u>Consumers</u></h2>
                <p class="probootstrap-price"><strong>$10.00</strong></p>
                <h2>Monthly Subscription</h2><br>
                <div style="display:inline-block; text-align: left;">
                  <ul class="probootstrap-list text-middle mb50" id="pricing-customer-indent">
                    <li class="probootstrap-check">Access the world's largest essential oil testing database.</li>
                    <li class="probootstrap-check">Peace of mind when purchasing new oils.</li>
                    <li class="probootstrap-check">Search for new companies.</li>
                  </ul>
                </div>
              </div>
              <div class="pricing-button">
                <p><a href="/authentication/signin" class="btn btn-primary">Start Searching</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->
    <section class="probootstrap-section" style="background-image: url(modules/core/client/img/sections/testimonial.png); background-repeat: no-repeat; background-size: cover; background-position: center;" data-section="reviews">
      <div class="container">
        <div class="row text-center mb100">
          <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
            <h2 class="mb30 text-black probootstrap-heading">Testimonials</h2>
          </div>
        </div>
        <!-- END row -->
        <div class="row is-flex" >
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="probootstrap-testimonial" id="logos">
              <blockquote>
                <p>EVS's unique testing capabilities coupled with their fantastic customer service, makes them an invaluable company in the field of analytical testing and validations.</p>
              </blockquote>
              <p class="mb0">&mdash; <b>Danny Min</b><br><i>Senior Chemist</i><br>Captek Softgel</p>
              <br><img src="/modules/core/client/img/logos/logo_captek.png" class="img-responsive" width="200" height="40">
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="probootstrap-testimonial" id="logos">
              <blockquote>
                <p>Essential Validation Services is our go to GC/MS testing company. Their reports are phenomenal, their prices are reasonable and their turn around time is under a week.</p>
              </blockquote>
              <p class="mb0">&mdash; <b>Traci Dalrymple</b><br><i>Owner</i><br>Kokokahn, Inc.</p>
              <img src="/modules/core/client/img/logos/kokokahn2.png" class="img-responsive" width="100" height="100">
            </div>
          </div>
          <!-- <div class="clearfix visible-sm-block"></div> -->
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="probootstrap-testimonial" id="logos">
              <blockquote>
                <p>I would recommend Essential Validation Services to anyone in the essential oil business who is looking for an affordable, knowledgeable and reliable third party lab.</p>
              </blockquote>
              <p class="mb0">&mdash; <b>Jamie Garvey</b><br><i>Owner</i><br>Boswellness</p>
              <p><br><img src="/modules/core/client/img/logos/logo_boswellness.jpg" class="img-responsive" width="250" height="55">
              </div>
            </div>
          </div>
          <div class="row is-flex">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="probootstrap-testimonial" id="logos">
                <blockquote>
                  <p>I'm delighted to have a new testing lab to utilize, and love the graphic display. Great information, and fast, reliable testing. What more could we want?</p>
                </blockquote>
                <p class="mb0">&mdash; <b>Marge Clarke</b><br><i>Owner</i><br>Nature's Gift</p>
                <img src="/modules/core/client/img/logos/logo_naturesgift.png" class="img-responsive" width="200" height="150">
              </div>
            </div>
            <!-- <div class="clearfix visible-sm-block"></div> -->
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="probootstrap-testimonial"id="logos">
                <blockquote>
                  <p>We are very pleased with the outstanding customer service that is provided by EVS. We will definitely use them again in the future.</p>
                </blockquote>
                <p class="mb0">&mdash; <b>Carmen Garcia</b><br><br>The Coastal Nursery</p>
                <br><br><img src="/modules/core/client/img/logos/logo_coastalnursery.jpg" class="img-responsive" width="200" height="200"><br>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="probootstrap-testimonial" id="logos">
                <blockquote>
                  <p>We want to ensure that the oils we sell are 100% pure. We have tried a number of well-reputed companies for testing, and we are very pleased with the service we get from EVS.</p>
                </blockquote>
                <p class="mb0">&mdash; <b>Caitlin Gates</b><br><i>R&amp;D Manager</i><br>Brambleberry</p>
                <br><img src="/modules/core/client/img/logos/logo_brambleberry.png" class="img-responsive" width="190" height="90">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- END section -->
      <section class="probootstrap-section" style="background-image: url(modules/core/client/img/sections/faq.png); background-repeat: no-repeat; background-size: cover; background-position: center;" id="faq">
        <div class="container">
          <div class="row text-center mb100">
            <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
              <h2 class="mb30 text-black probootstrap-heading">Frequently Asked Questions</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="probootstrap-service-item" data-animate-effect="fadeIn">
                <h2><span class="glyphicon glyphicon-chevron-right" id="faq"></span><b>What Does An EVS Overview Look Like?</b></h2>
                <div id="bullet-indent-subhead">
                  <div class="col-md-6">
                    <ul class="probootstrap-list text-middle mb50">
                      <li><span class="glyphicon glyphicon-leaf"></span><span id="text-indent">Oil Name</span></li>
                      <li><span class="glyphicon glyphicon-leaf"></span><span id="text-indent">Company</span></li>
                      <li><span class="glyphicon glyphicon-leaf"></span><span id="text-indent">Batch Number</span></li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <ul class="probootstrap-list text-middle mb50">
                      <li><span class="glyphicon glyphicon-leaf"></span><span id="text-indent">Top Compounds</span></li>
                      <li><span class="glyphicon glyphicon-leaf"></span><span id="text-indent">Compound Family Overview</span></li>
                      <li><span class="glyphicon glyphicon-leaf"></span><span id="text-indent">Data Tested</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="probootstrap-service-item" data-animate-effect="fadeIn">
                <h2><span class="glyphicon glyphicon-chevron-right" id="faq"></span><b>Why We Don't Promote Companies or Sell Products</b></h2>
                <p id="bullet-indent-paragraph">EVS is an <strong>Independent 3rd Party Laboratory.</strong> Therefore we can not ethically endorse one company or its products above another. Our only concern is the purity of your oils. We wish to give everyone a starting point on their journey. That is why the only reports you will find online are EVS approved oils.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="probootstrap-service-item" data-animate-effect="fadeIn">
                <h2><span class="glyphicon glyphicon-chevron-right" id="faq"></span><b>Why Are There Only Good Reports Online?</b></h2>
                <div class="col-md-12">
                  <ul class="probootstrap-list text-middle mb50">
                    <div id="bullet-indent">
                      <h2><b style="color:#007d00">We Believe:</b></h2>
                    </div>
                    <div id="bullet-indent-subhead">
                      <li><span class="glyphicon glyphicon-leaf"></span><span id="text-indent"><i style="color:#007d00">Positive</i>  promotion is better than <i style="color:red">negative</i> disruption.</span></li>
                      <li><span class="glyphicon glyphicon-leaf"></span><span id="text-indent">The industry <i style="color:#007d00">benefits</i> when companies and consumers <i style="color:#007d00">unite</i>.</span></li>
                      <li>We only post reports online that pass our standards.</li>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="probootstrap-service-item" data-animate-effect="fadeIn">
                <h2><span class="glyphicon glyphicon-chevron-right" id="faq"></span><b>What Can I Do To Help Fight Adulteration?</b></h2>
                <div class="col-md-6">
                  <ul class="probootstrap-list text-middle mb50">
                    <div id="bullet-indent">
                      <h2><b style="color:#007d00">As a Company:</b></h2>
                    </div>
                    <div id="bullet-indent-subhead">
                      <li><span class="glyphicon glyphicon-leaf" id="faq"></span><span id="text-indent">Test every oil before you buy.</span></li>
                      <li><span class="glyphicon glyphicon-leaf" id="faq"></span><span id="text-indent">Use suppliers that verify their oils with a qualified, 3rd Party Laboratory.</span></li>
                      <li><span class="glyphicon glyphicon-leaf" id="faq"></span><span id="text-indent">Promote purity and integrity.</span></li>
                    </div>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="probootstrap-list text-middle mb50">
                    <div id="bullet-indent">
                      <h2><b style="color:#007d00">As a Customer:</b></h2>
                    </div>
                    <div id="bullet-indent-subhead">
                      <li><span class="glyphicon glyphicon-leaf" id="faq"></span><span id="text-indent">Only buy essential oils that have been tested by a Qualified and Independent 3rd party.</span></li>
                      <li><span class="glyphicon glyphicon-leaf" id="faq"></span><span id="text-indent">Use the EVS Database to find pure oils and companies that take testing seriously.</span></li>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="probootstrap-service-item" data-animate-effect="fadeIn">
                <h2><span class="glyphicon glyphicon-chevron-right" id="faq"></span><b>Which Company Should I Buy From?</b></h2>
                <p id="bullet-indent-paragraph">As an independent third party lab we can’t answer that question. What we can do, is point you in the right direction. We want everyone to be able to find pure oils, so we have created the EVS Database to help you make informed decisions when buying.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="probootstrap-service-item" data-animate-effect="fadeIn">
                <h2><span class="glyphicon glyphicon-chevron-right" id="faq"></span><b>The Difference Between Purity and Quality</b></h2>
                <div class="col-md-12">
                  <ul class="probootstrap-list text-middle mb50">
                    <div id="bullet-indent-subhead">
                      <li><span class="glyphicon glyphicon-leaf" id="faq"></span><span id="text-indent"><b style="color:#007d00">Purity – Is my oil free from contaminants, diluents, synthetics, and adulterations?</b> This is an analytical term. The best test to determine purity is Gas Chromatography Mass Spectrometry (GCMS).</li>
                      <li><span class="glyphicon glyphicon-leaf" id="faq"></span><span id="text-indent"><b style="color:#007d00">Quality – Is my oil high quality?</b> This is a subjective term. The best test to determine quality is organoleptically (The Smell Test).</li>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- END section -->
      <section class="probootstrap-section" style="background-image: url(modules/core/client/img/sections/contactus.png); background-size: cover;" data-section="contact" id="contact">
        <div class="container">
          <div class="row text-center mb100">
            <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
              <h2 class="mb30 text-black probootstrap-heading">Contact Us</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13869.6326606109!2d-82.332751!3d29.649928!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcf41fbf1798b611!2sEssential+Validation+Services!5e0!3m2!1sen!2sus!4v1511835818857" frameborder="0" width="90%" height="300px" style="border:0;margin-left:10%" id="map-container" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 col-md-push-1 col-sm-6 col-sm-push-1 col-xs-5 col-xs-push-1">
              <ul class="probootstrap-contact-details">
                <li style="word-wrap:break-word">
                  <span class="text-uppercase" style="color:#007d00">Email</span>
                  adam@essentialvalidationservices.com
                </li>
                <li>
                  <span class="text-uppercase" style="color:#007d00">Phone</span>
                  (317) 361-5044
                </li>
                <li>
                  <span class="text-uppercase" style="color:#007d00">Address</span>
                  Essential Validation Services <br>
                  747 SW 2nd Ave  <br>
                  IMB 12 Suite 342 <br>
                  Gainesville, FL 32601
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- END section -->
      <footer class="probootstrap-footer" style="background-color:#bbb">
        <div class="container text-center" style="background-color:#bbb">
          <div class="row">
          </div>
          <div class="row">
            <div class="col-md-12">
              &copy; 2017 <a href="https://probootstrap.com/">ProBootstrap:Frame</a>. All Rights Reserved. <br> Designed &amp; Developed by <a href="https://probootstrap.com">ProBootstrap.com</a>
            </div>
          </div>
        </div>
      </footer>
      <!-- END footer -->

      <script src="js/scripts.min.js"></script>
      <script src="js/custom.js"></script>

      <!-- Google Map -->
      <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
      <script src="js/google-map.js"></script> -->
    </body>
    </html>
  </section>
