<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Arapey" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Tinos" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  <link href="modules/core/client/css/style.css" rel="stylesheet">
</head>


<section id="front-page" class="front-page">
  <html lang="en">
    <body>
      <section class="probootstrap-hero prohttp://localhost/probootstrap/frame/#featuresbootstrap-slant" style="background-image: url(/modules/core/client/img/brand/Picture1.jpg);" data-section="home" data-stellar-background-ratio="0.5" id="frontpage1">
        <!-- <div class="container"> -->
          <div class="row intro-text">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h1 class="probootstrap-heading" style="margin-bottom:0px; font-family: Kaushan Script; text-decoration: underline;">Essential Validation Services</h1>
              <h2 style="color:white; font-family: Arapey;"><em>Certifying your essential oils as pure and genuine</em></h2>
              <div class="probootstrap-subheading center">
                <p><a href="#features" class="btn btn-default smoothscroll" role="button" style="width: 170px; background-color: rgba(94,101,94,.28);">Learn More</a><a ui-sref="authentication.signin" class="btn btn-default smoothscroll" role="button" style="width: 170px; background-color: rgba(157,195,230,.42);">Login</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </section>

    <section class="probootstrap-section" id="about" style="background-image: url(/modules/core/client/img/sections/Picture2.png); background-size: cover;">
      <div class="container" style="height: 500px; padding-top: 90px;">
        <div class="row text-center mb40">
          <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
            <h2 class="" style="font-family: Arapey; color: rgba(73,105,73,1); font-size: 3em;">Join Us In The Fight Against Adulteration</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <p id="paragraph-font">Essential Validation Services (EVS) is a third-party independent laboratory specializing in affordable quality assurance testing of essential oils, creating transparency throughout the supply chain and ensuring integrity within the essential oil industry.</p>
            <p><a href="authentication/signup" class="btn btn-black">Sign Up Now</a></p>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section" style="background-image: url(/modules/core/client/img/sections/plants.png); background-repeat: no-repeat; background-size: cover;">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="probootstrap-service-item" style="margin-bottom:0;" data-animate-effect="fadeIn">
              <div id="center-text" style="text-align: right;">
                <img src="/modules/core/client/img/glyph-img/Picture5.png" height="100" width="100" align="middle" style="margin-bottom: 50px; margin-top: 50px;">
                <h2 style="font-family: Tinos;"><b>3rd Party Verification</b></h2>
              </div>
              <p id="paragraph-font" style="font-family: Open Sans; margin-bottom:0; text-align: right;"> Never buy an oil without <b style="color:#007d00">3<sup>rd</sup> Party GCMS testing</b>. Many oils contain petroleum based synthetics, diluents, contaminants and adulterations. Trust EVS to help you <i style="color:#007d00"><b>get what you pay for.</b></i></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="probootstrap-service-item" style="margin-bottom:0;" data-animate-effect="fadeIn">
              <div id="center-text" style="text-align: center;">
                <img src="/modules/core/client/img/glyph-img/certified.png" height="200" width="200" align="middle"><br>
                <h2 style="align: center; font-family: Tinos;"><b>Customers Care </b></h2>
              </div>
              <p id="paragraph-font" style="font-family: Open Sans; margin-bottom:0; text-align: center;">Your customers are serious about adulteration. Show them you care with <b style="color:#007d00">EVS Certification.</b></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="probootstrap-service-item" style="margin-bottom:0;" data-animate-effect="fadeIn">
              <div id="center-text" style="text-align: left;">
                <img src="/modules/core/client/img/glyph-img/Picture6.png" height="100" width="100" align="middle" style="margin-bottom: 50px; margin-top: 50px;"><br>
                <h2 style="align: right; font-family: Tinos;"><b>Buy with Confidence</b></h2>
              </div>
              <p id="paragraph-font" style="font-family: Open Sans; margin-bottom:0;">The <b style="color:#007d00">EVS Program</b> is dedicated to helping you find <i style="color:#007d00">pure</i> and <i style="color:#007d00">genuine</i> oils. Search the largest database in the world to find oils that have been <b style="color:#007d00">tested</b> and <b style="color:#007d00">approved</b> by EVS.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div align="right" style="padding-right: 25px;">
              <p><a href="#placeholdertest" class="" role="button">Learn More<span class="glyphicon glyphicon-chevron-right"></span></a></p>
            </div>
          </div>
          <div class="col-md-4  col-sm-4 col-xs-4">
            <div id="center-text">
              <p><a href="#placeholdertest1" class="" role="button">Learn More<span class="glyphicon glyphicon-chevron-right"></span></a></p>
            </div>
          </div>
          <div class="col-md-4  col-sm-4 col-xs-4">
            <div align="left" style="padding-left: 25px;">
              <p><a href="#placeholdertest2" class="" role="button">Learn More<span class="glyphicon glyphicon-chevron-right"></span></a></p>
              <span class="text-right" style="font-size: .75em;">Reminder: <em>We don't promote companies, We just promote pure oils</em></span>
            </div>
          </div>
        </div>
    </section>
      <!-- END section -->
    <section class="probootstrap-section" id="features" data-section="features">
      <div class="container">
        <div class="row text-center">
          <!-- <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
            <h2 class="mb30 text-black probootstrap-heading">Features</h2>
          </div>
        </div> -->
        <!-- END row -->
        <div id="placeholdertest" style="margin-top:0;margin-bottom:0;padding:0">
          <div class="row is-flex" style="margin-top:0;margin-bottom:0">
            <div class="col-md-6 probootstrap-section-heading" style="background-image: url(/modules/core/client/img/brand/background.png);background-size: cover;text-align:center; padding-top:70px;">
              <b>
                <h2 class="text-primary" id="ipad-section" style="font-family: Tinos; font-weight: 700">3<sup>rd</sup> Party Verification</h2><br> <!-- removed probootstrap-heading-->
                <p id="paragraph-font" style="font-size:26px; font-family: Arapey;"><i>We believe that trust is built on <b style="color:#007d00">integrity</b>, so we are uncompromisingly:</i></p><br>
                <ul class="probootstrap-list" style="font-family: Arapey;margin-left:20%;margin-right:20%;text-align:left;font-size:20px;">
                  <li class="probootstrap-check">Outside the Supply Chain</li>
                  <li class="probootstrap-check">Free from Conflicts of Interest</li>
                  <li class="probootstrap-check">Removed from Industry Entanglements</li>
                  <li class="probootstrap-check">Qualified and Specialized</li>
                </ul>
              </b>
            </div>
            <div class="col-md-6" id="ipad">
              <img src="/modules/core/client/img/ipad/ipad1.png" width="500" height="400" class="img-responsive" style="padding-top:100px;padding-bottom:100px;">
            </div>
          </div>
        </div>
        <!-- END row -->
        <div id="placeholdertest1" style="margin-top:0;margin-bottom:0;padding:0; border-top: 3px solid rgb(73, 105, 73);">
          <div class="row is-flex" style="margin-top:0;margin-bottom:0">
            <div class="col-md-6" id="ipad">
              <img src="/modules/core/client/img/ipad/ipad2.png" width="500" height="400" class="img-responsive" style="padding-top:100px;padding-bottom:100px;">
            </div>
            <div class="col-md-6 probootstrap-section-heading" style="background-image: url(/modules/core/client/img/brand/Picture11.png);background-size:cover;text-align:center; padding-top:70px;">
              <b>
                <h2 class="text-primary" id="ipad-section" style="font-family: Tinos;">EVS Certification</h2><br>
                <p id="paragraph-font" style="font-size:26px; font-family: Arapey;"><i>Use EVS's trademarked certification to promote your pure oils.</i></p><br>
                <ul class="probootstrap-list" style="font-family: Arapey; margin-left:20%;margin-right:20%;text-align:left;font-size:20px">
                  <li>We partner with:</li>
                  <li class="probootstrap-check">Institutions - University of Florida</li>
                  <li class="probootstrap-check">Specialists</li>
                  <li class="probootstrap-check">Recognized Standardization Bodies - ISO, AFNOR, IFRA</li>
                  <li>To authenticate each oil.</li>
                </ul>
              </b>
            </div>
          </div>
        </div>
        <!-- END row -->
        <div id="placeholdertest2" style="margin-top:0;margin-bottom:0;padding:0; border-top: 3px solid rgb(73, 105, 73);">
          <div class="row is-flex" style="margin-top:0;margin-bottom:0">
            <!-- <div class="col-md-4 col-md-pull-1 probootstrap-section-heading"> -->
            <div class="col-md-6 probootstrap-section-heading" style="background-image: url(/modules/core/client/img/brand/Picture17.jpg);background-size: cover; text-align:center; padding-top:70px;">
              <b>
                <h2 class="text-primary" id="ipad-section" style="font-family: Tinos;">The EVS Database</h2><br>
                <p id="paragraph-font" style="font-size:26px; font-family: Arapey;"><i>We make it easy to find pure and unadulterated essential oils.</i></p><br>
                <ul class="probootstrap-list" style="font-family: Arapey; margin-left:20%;margin-right:20%;text-align:left;font-size:20px;">
                  <li class="probootstrap-check">The #1 Essential Oil Testing Database!</li>
                  <li class="probootstrap-check">Every oil is tested and approved by <span style="color: #007d00; font-weight: 700;">EVS</span>.</li>
                  <li class="probootstrap-check">Buy your <span style="color: #007d00; font-weight: 700;">favorite</span> oil from your <span style="color: #007d00; font-weight: 700;">favorite</span> company or try a new one.</li>
                  <li class="probootstrap-check">Are you looking for a new supplier? Search for <span style="color: #007d00; font-weight: 700;">distillers</span> and <span style="color: #007d00; font-weight: 700;">wholesalers</span>.</li>
                </ul>
              </b>
            </div>
            <!-- <div class="col-md-8 col-md-pull-2"> -->
            <div class="col-md-6" id="ipad">
              <img src="/modules/core/client/img/ipad/ipad3.png" width="500" height="400" class="img-responsive" style="padding-top:100px">
            </div>
          </div>
        </div>
        <!-- END row -->
      </div>
    </section>
    <!-- END section -->
    <section class="probootstrap-section" data-section="pricing">
      <div class="container">
        <div class="row text-center mb100">
          <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
            <h3 class="mb30 text-black probootstrap-heading" style="font-family: Tinos;">Try Us Today</h3>
          </div>
          <div class="col-md-8 col-md-offset-2 text-center">
            <p id="paragraph-font" style="font-family: Arapey;">Here at EVS we are dedicated to helping you know for certain that the essential oils you buy are unadulterated and genuine. Join us today in the fight for purity.</p>
            <p><a href="authentication/signup" class="btn btn-black">Sign Up Now</a></p>
          </div>
        </div>
        <!-- END row -->
        <div class="row is-flex" style="border-top: 3px solid rgb(73, 105, 73);">
          <div class="col-md-5 col-sm-5 col-xs-5 col-md-offset-1 col-sm-offset-1 col-xs-offset-1" id="pricing-companies" style="border-right: 3px solid rgb(73, 105, 73); padding-right: 10%;">
            <div class="probootstrap-pricing" style="margin-top: 30px; box-shadow: 2px 2px 5px 2px rgba(0,0,0,.3), -2px -2px 5px 2px rgba(0,0,0,.3);">
              <div class="pricing-text" style="font-family: Arapey;">
                <h2 style="color: black; font-size: 1.3em; font-family: Tinos;"><u>Companies</u></h2>
                <p class="probootstrap-price"><span style="font-size: .8em; font-family: Tinos; color: rgb(165,165,165);"><i>Starting at</i></span>&nbsp;<strong>$265.00</strong></p>
                <h2 style="font-family: Tinos;">Adulteration Testing</h2><br>
                <div style="display:inline-block; text-align: left;">
                  <ul class= "text-middle">
                    <li>GCMS</li>
                    <li>Optical Rotation</li>
                    <li>Specific Gravity</li>
                    <li>Refractive Index</li>
                  </ul>
                  <br>
                  <ul class="probootstrap-list text-middle mb50">
                    <li class="probootstrap-check">Customized Reports</li>
                    <li class="probootstrap-check">Quick Turnaround Times</li>
                    <li class="probootstrap-check">Access to the EVS Database</li>
                  </ul>
                </div>
              </div>
              <div class="pricing-button">
                <p><a href="#contact" class="btn btn-primary">Request Quote</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-sm-5 col-xs-5" id="pricing-customers" style="padding-left: 10%;">
            <div class="probootstrap-pricing" style="margin-top: 30px; box-shadow: 2px 2px 5px 2px rgba(0,0,0,.3), -2px -2px 5px 2px rgba(0,0,0,.3);">
              <div class="pricing-text" style="font-family: Tinos;">
                <h2 style="color: black; font-size: 1.3em; font-family: Tinos;"><u>Consumers</u></h2>
                <p class="probootstrap-price"><strong>$10.00</strong></p>
                <h2 style="font-family: Tinos; color: rgba(165,165,165,1);"><i>Monthly Subscription</i></h2><br>
                <div style="display:inline-block; text-align: left;">
                  <ul class="probootstrap-list text-middle mb50" id="pricing-customer-indent">
                    <li class="probootstrap-check">Access the world's largest essential oil testing database.</li>
                    <li class="probootstrap-check">Peace of mind when purchasing new oils.</li>
                    <li class="probootstrap-check">Search for new companies.</li>
                  </ul>
                </div>
              </div>
              <div class="pricing-button">
                <p><a href="/authentication/signin" class="btn btn-primary">Start Searching</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->
    <section class="probootstrap-section" style="background-image: url(modules/core/client/img/sections/testimonial.png); background-repeat: no-repeat; background-size: cover; background-position: center;" data-section="reviews">
      <div class="container" style="padding-top: 80px;">
        <!-- <div class="row text-center mb100">
          <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
            <h2 class="mb30 text-black probootstrap-heading">Testimonials</h2>
          </div>
        </div> -->
        <!-- END row -->
        <div class="row is-flex" style="padding-left: 4%; padding-right: 4%;">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="probootstrap-testimonial" id="logos">
              <blockquote style="font-family: Tinos;">
                <p style="font-family: Tinos;">EVS's <span style="color: #007d00; font-weight: 700;">unique</span> testing capabilities coupled with their <span style="color: #007d00; font-weight: 700;">fantastic</span> customer service, makes them an <span style="color: #007d00; font-weight: 700;">invaluable</span> company in the field of analytical testing and validations.</p>
              </blockquote>
              <p class="mb0" style="font-family: Tinos;">&mdash; <b>Danny Min</b><br><i>Senior Chemist</i><br>Captek Softgel</p>
              <br><img src="/modules/core/client/img/logos/logo_captek.png" class="img-responsive" width="200" height="40">
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="probootstrap-testimonial" id="logos">
              <blockquote>
                <p style="font-family: Tinos;">Essential Validation Services is our go to GC/MS testing company. Their reports are <span style="color: #007d00; font-weight: 700;">phenomenal</span>, their prices are <span style="color: #007d00; font-weight: 700;">reasonable</span> and their turn around time is under a week.</p>
              </blockquote>
              <p class="mb0" style="font-family: Tinos;">&mdash; <b>Traci Dalrymple</b><br><i>Owner</i><br>Kokokahn, Inc.</p>
              <img src="/modules/core/client/img/logos/kokokahn2.png" class="img-responsive" width="100" height="100">
            </div>
          </div>
          <!-- <div class="clearfix visible-sm-block"></div> -->
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="probootstrap-testimonial" id="logos">
              <blockquote>
                <p style="font-family: Tinos;">I would recommend Essential Validation Services to anyone in the essential oil business who is looking for an <span style="color: #007d00; font-weight: 700;">affordable</span>, <span style="color: #007d00; font-weight: 700;">knowledgeable</span> and <span style="color: #007d00; font-weight: 700;">reliable</span> third party lab.</p>
              </blockquote>
              <p class="mb0" style="font-family: Tinos;" style="font-family: Tinos;">&mdash; <b>Jamie Garvey</b><br><i>Owner</i><br>Boswellness</p>
              <p><br><img src="/modules/core/client/img/logos/logo_boswellness.jpg" class="img-responsive" width="250" height="55">
              </div>
            </div>
          </div>
          <div class="row is-flex" style="padding-left: 4%; padding-right: 4%;">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="probootstrap-testimonial" id="logos">
                <blockquote>
                  <p style="font-family: Tinos;">I'm <span style="color: #007d00; font-weight: 700;">delighted</span> to have a new testing lab to utilize, and <span style="color: #007d00; font-weight: 700;">love</span> the graphic display. <span style="color: #007d00; font-weight: 700;">Great</span> information, and <span style="color: #007d00; font-weight: 700;">fast</span>, <span style="color: #007d00; font-weight: 700;">reliable</span> testing. What more could we want?</p>
                </blockquote>
                <p class="mb0" style="font-family: Tinos;">&mdash; <b>Marge Clarke</b><br><i>Owner</i><br>Nature's Gift</p>
                <img src="/modules/core/client/img/logos/logo_naturesgift.png" class="img-responsive" width="200" height="150">
              </div>
            </div>
            <!-- <div class="clearfix visible-sm-block"></div> -->
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="probootstrap-testimonial"id="logos">
                <blockquote>
                  <p style="font-family: Tinos;">We are very pleased with the <span style="color: #007d00; font-weight: 700;">outstanding</span> customer service that is provided by EVS. We will definitely use them again in the future.</p>
                </blockquote>
                <p class="mb0" style="font-family: Tinos;">&mdash; <b>Carmen Garcia</b><br><br>The Coastal Nursery</p>
                <br><br><img src="/modules/core/client/img/logos/logo_coastalnursery.jpg" class="img-responsive" width="200" height="200"><br>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="probootstrap-testimonial" id="logos">
                <blockquote>
                  <p style="font-family: Tinos;">We want to ensure that the oils we sell are <span style="color: #007d00; font-weight: 700;">100% pure</span>. We have tried a number of well-reputed companies for testing, and we are very pleased with the service we get from EVS.</p>
                </blockquote>
                <p class="mb0" style="font-family: Tinos;">&mdash; <b>Caitlin Gates</b><br><i>R&amp;D Manager</i><br>Brambleberry</p>
                <br><img src="/modules/core/client/img/logos/logo_brambleberry.png" class="img-responsive" width="190" height="90">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- END section -->
      <section class="probootstrap-section" style="background-image: url(modules/core/client/img/sections/faq.png); background-repeat: no-repeat; background-size: cover; background-position: center;" id="faq">
        <div class="container" style="padding-left: 5%; padding-right: 5%; font-family: Arapey;">
          <div class="row text-center mb100">
            <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
              <h2 class="mb30 text-black probootstrap-heading" style="font-family: Arapey;">Frequently Asked Questions</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6" style="font-weight: 700;">
              <div class="probootstrap-service-item" data-animate-effect="fadeIn">
                <h2><span class="glyphicon glyphicon-chevron-right" id="faq"></span><b>What Does An EVS Overview Look Like?</b></h2>
                <div id="bullet-indent-subhead">
                  <div class="col-md-6">
                    <ul class="probootstrap-list text-middle mb50">
                      <li><span class="glyphicon glyphicon-leaf"></span><span id="text-indent">Oil Name</span></li>
                      <li><span class="glyphicon glyphicon-leaf"></span><span id="text-indent">Company</span></li>
                      <li><span class="glyphicon glyphicon-leaf"></span><span id="text-indent">Batch Number</span></li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <ul class="probootstrap-list text-middle mb50">
                      <li><span class="glyphicon glyphicon-leaf"></span><span id="text-indent">Top Compounds</span></li>
                      <li><span class="glyphicon glyphicon-leaf"></span><span id="text-indent">Compound Family Overview</span></li>
                      <li><span class="glyphicon glyphicon-leaf"></span><span id="text-indent">Data Tested</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6" style="font-family: Arapey;">
              <div class="probootstrap-service-item" data-animate-effect="fadeIn">
                <h2><span class="glyphicon glyphicon-chevron-right" id="faq"></span><b>Why We Don't Promote Companies or Sell Products</b></h2>
                <p id="bullet-indent-paragraph" style="font-family: Tinos;"><span style="color: #007d00; font-weight: 700; font-family: Tinos;">EVS</span> is an <strong>Independent 3rd Party Laboratory.</strong> Therefore we can not ethically endorse one <span style="color: #007d00; font-weight: 700;"><i>company</i></span> or its <span style="color: #007d00; font-weight: 700;"><i>products</i></span> above another. Our only concern is the purity of your oils. We wish to give everyone a <span style="color: #007d00; font-weight: 700; font-family: Tinos;"><i>starting point</i></span> on their journey. That is why the only reports you will find online are <span style="color: #007d00;">EVS <i>approved</i></span> oils.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6" style="font-family: Arapey;">
              <div class="probootstrap-service-item" data-animate-effect="fadeIn">
                <h2><span class="glyphicon glyphicon-chevron-right" id="faq"></span><b>Why Are There Only Good Reports Online?</b></h2>
                <div class="col-md-12">
                  <ul class="probootstrap-list text-middle mb50">
                    <div id="bullet-indent">
                      <h2><b style="color:#007d00; font-weight:700; font-family: Tinos;">We Believe:</b></h2>
                    </div>
                    <div id="bullet-indent-subhead">
                      <li><span class="glyphicon glyphicon-leaf"></span><span id="text-indent"><i style="color:#007d00; font-weight:700; font-family: Tinos;">Positive</i>  promotion is better than <i style="color:red; font-weight:700; font-family: Tinos;">negative</i> disruption.</span></li>
                      <li><span class="glyphicon glyphicon-leaf"></span><span id="text-indent">The industry <i style="color:#007d00; font-weight:700; font-family: Tinos;">benefits</i> when companies and consumers <i style="color:#007d00; font-weight:700; font-family: Tinos;">unite</i>.</span></li>
                      <li>We only post reports online that pass our standards.</li>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6" style="font-family: Arapey;">
              <div class="probootstrap-service-item" data-animate-effect="fadeIn">
                <h2><span class="glyphicon glyphicon-chevron-right" id="faq"></span><b>What Can I Do To Help Fight Adulteration?</b></h2>
                <div class="col-md-6">
                  <ul class="probootstrap-list text-middle mb50">
                    <div id="bullet-indent">
                      <h2><b style="color:#007d00">As a Company:</b></h2>
                    </div>
                    <div id="bullet-indent-subhead">
                      <li><span class="glyphicon glyphicon-leaf" id="faq"></span><span id="text-indent"><span style="color: #007d00; font-weight: 700; font-family: Tinos;">Test</span> every oil before you buy.</span></li>
                      <li><span class="glyphicon glyphicon-leaf" id="faq"></span><span id="text-indent">Use suppliers that <span style="color: #007d00; font-weight: 700; font-family: Tinos;">verify</span> their oils with a qualified, 3rd Party Laboratory.</span></li>
                      <li><span class="glyphicon glyphicon-leaf" id="faq"></span><span id="text-indent"><span style="color: #007d00; font-weight: 700; font-family: Tinos;">Promote</span> purity and integrity.</span></li>
                    </div>
                  </ul>
                </div>
                <div class="col-md-6" style="font-family: Arapey;">
                  <ul class="probootstrap-list text-middle mb50">
                    <div id="bullet-indent">
                      <h2><b style="color:#007d00; font-weight:700;">As a Customer:</b></h2>
                    </div>
                    <div id="bullet-indent-subhead">
                      <li><span class="glyphicon glyphicon-leaf" id="faq"></span><span id="text-indent">Only <span style="color: #007d00; font-weight: 700; font-family: Tinos;">buy</span> essential oils that have been <span style="color: #007d00; font-weight: 700; font-family: Tinos;">tested</span> by a Qualified and Independent 3rd party.</span></li>
                      <li><span class="glyphicon glyphicon-leaf" id="faq"></span><span id="text-indent">Use the <span style="color: #007d00; font-weight: 700; font-family: Tinos;">EVS Database</span> to find pure oils and companies that take testing seriously.</span></li>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6" style="font-family: Arapey;">
              <div class="probootstrap-service-item" data-animate-effect="fadeIn">
                <h2><span class="glyphicon glyphicon-chevron-right" id="faq"></span><b>Which Company Should I Buy From?</b></h2>
                <p id="bullet-indent-paragraph" style="font-family: Arapey;">As an <b><i><span style="color: #007d00; font-weight: 700;">independent</span> third party lab</i></b>, we can’t answer that question. What we can do, is point you in the right direction. We want everyone to be able to find pure oils, so we have created the <span style="color: #007d00; font-weight: 700;">EVS Database</span> to help you make <span style="color: #007d00; font-weight: 700;">informed</span> decisions when buying.</p>
              </div>
            </div>
            <div class="col-md-6" style="font-family: Arapey;">
              <div class="probootstrap-service-item" data-animate-effect="fadeIn">
                <h2><span class="glyphicon glyphicon-chevron-right" id="faq"></span><b>The Difference Between Purity and Quality</b></h2>
                <div class="col-md-12">
                  <ul class="probootstrap-list text-middle mb50">
                    <div id="bullet-indent-subhead">
                      <li><span class="glyphicon glyphicon-leaf" id="faq"></span><span id="text-indent"><b style="color:#007d00; font-weight:700; font-family: Tinos;">Purity – Is my oil free from contaminants, diluents, synthetics, and adulterations?</b> This is an <span style="color: #007d00; font-weight: 700;">analytical</span> term. The best test to determine purity is <b>Gas Chromatography Mass Spectrometry (<i>GCMS</i>)</b>.</li>
                      <li><span class="glyphicon glyphicon-leaf" id="faq"></span><span id="text-indent"><b style="color:#007d00; font-weight:700; font-family: Tinos;">Quality – Is my oil high quality?</b> This is a <span style="color: #007d00; font-weight: 700; font-family: Tinos;">subjective</span> term. The best test to determine quality is organoleptically (<i>The Smell Test</i>).</li>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- END section -->
      <section class="probootstrap-section" style="background-image: url(modules/core/client/img/sections/Picture16.jpg); background-size: auto; background-repeat: no-repeat; background-position: center;" data-section="contact" id="contact">
        <div class="container" style="background-color: rgba(255,255,255,.6);">
          <div class="row text-center mb100">
            <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
              <h2 style="margin-top: 0;" class="text-black probootstrap-heading">Contact Us</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13869.6326606109!2d-82.332751!3d29.649928!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcf41fbf1798b611!2sEssential+Validation+Services!5e0!3m2!1sen!2sus!4v1511835818857" frameborder="0" width="90%" height="300px" style="border:0;margin-left:10%" id="map-container" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 col-md-push-1 col-sm-6 col-sm-push-1 col-xs-5 col-xs-push-1">
              <ul class="probootstrap-contact-details">
                <li style="word-wrap:break-word; margin-bottom: 0;">
                  <span class="text-uppercase" style="color:#007d00">Email</span>
                  adam@essentialvalidationservices.com
                </li>
                <li style="margin-bottom: 0;">
                  <span class="text-uppercase" style="color:#007d00">Phone</span>
                  (317) 361-5044
                </li>
                <li style="margin-bottom: 0;">
                  <span class="text-uppercase" style="color:#007d00">Address</span>
                  Essential Validation Services <br>
                  747 SW 2nd Ave  <br>
                  IMB 12 Suite 342 <br>
                  Gainesville, FL 32601
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- END section -->
      <footer class="probootstrap-footer hidden" style="background-color:#bbb">
        <div class="container text-center" style="background-color:#bbb">
          <div class="row">
          </div>
          <div class="row">
            <div class="col-md-12">
              &copy; 2017 <a href="https://probootstrap.com/">ProBootstrap:Frame</a>. All Rights Reserved. <br> Designed &amp; Developed by <a href="https://probootstrap.com">ProBootstrap.com</a>
            </div>
          </div>
        </div>
      </footer>
      <!-- END footer -->

      <script src="js/scripts.min.js"></script>
      <script src="js/custom.js"></script>

      <!-- Google Map -->
      <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
      <script src="js/google-map.js"></script> -->
    </body>
    </html>
  </section>
