<!--<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Essential Validation Services
      </p>
      <p1>Freedom from adulteration</p1>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="learn_more">Learn more</a>
      </p>
    </div>
  </div>
</section>-->

<html>
  <head>
    <meta charset="utf-8">
    <title>EVS</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/modules/core/client/css/core.css">
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  </head>
  <body>
      <nav class="navbar navbar-default navbar-fixed-top topnav">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">EVS</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#intro">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Top of Home page -->
      <section id="intro">
        <div class="container-intro text-center">
            <h1>Essential Validation Services</h1>
            <h2>Freedom from adulteration</h2>
            <hr class="intro-divider">
            <p>One Oil. One Essence.</p>
            <h3>Everywhere along the journey, EVS is there.</h3>
        </div>
      </section>

      <!-- About section -->
      <section id="about">
        <div class="section" id="ipad" data-anchor="iPad">


          <div class="slide ipad1 container-fluid">
            <div class="row">

              <div class="col-md-6 col-sm-6">
                <div class="about-left">
                  <img src="img/education.png" class="center-block" alt=""><!--</a>-->
                  <p class="icon-quote">&ldquo;<em>Education is the most powerful weapon you can use to change the world</em>&rdquo;<br>Nelson Mandela</p>

                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                  <div class="about-right">
                  <h2>Education</h2>
                  <h3>We believe the status quo isn&#39;t good enough so we are leading the charge to increase scientific knowledge:</h3>
                      <p><span class="glyphicon glyphicon-leaf"></span> In Our Partnerships</p>
                          <p style="text-indent: 20px;"><span class="glyphicon glyphicon-ok"></span> University of Florida</p>
                          <p style="text-indent: 20px;"><span class="glyphicon glyphicon-ok"></span> Lincoln University</p>
                      <p><span class="glyphicon glyphicon-leaf"></span> On Our Facebook Page</p>
                      <p><span class="glyphicon glyphicon-leaf"></span> In The Industry</p>
                    <span class="slide2"><h2>Independent Third-Party Lab <span class="glyphicon glyphicon-chevron-down"></span></h2></span>
                    <span class="slide3"><h2>Get the Word Out <span class="glyphicon glyphicon-chevron-down"></span></h2></span>
                  </div>

            </div>

          </div>
        </div>
      </section>


      <!-- Contact section -->
      <section id="contact">
        <div class="container">
          <div class="row">
            <div class="col-md-5 col-sm-5">
              <form>
                <div class="form-group">
                  <label>Name: </label>
                  <input class="form-control" type="text" name="" value="" placeholder="Enter Name">
                </div>
                <div class="form-group">
                  <label>Email: </label>
                  <input class="form-control" type="text" name="" value="" placeholder="Enter Email">
                </div>
                <div class="form-group">
                  <label>Message: </label>
                  <textarea class="form-control" name="" value="" placeholder="Enter Message"></textarea>
                </div>
                <button class="btn btn-default">Submit</button>
              </form>
            </div>
            <div class="col-md-7 col-sm-7">

            </div>
          </div>
        </div>
      </section>


      <script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <script>
        $(function() {
          // Smooth Scrolling
          $('a[href*="#"]:not([href="#"])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html, body').animate({
                  scrollTop: target.offset().top
                }, 1000);
                return false;
              }
            }
          });
        });
      </script>

  </body>
</html>
