#show-single-report-modal .modal-header{
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	text-align: center;
	background-color: #e0ffc1;
	border-radius: 5px 5px 0 0;
	border-bottom: 0;
}

#show-single-report-modal .modal-footer{
	-webkit-box-shadow: 0px -3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px -3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px -3px 5px 0px rgba(50, 50, 50, 0.75);
	background-color: #e0ffc1;
	border-radius: 0 0 5px 5px;
	border-top: 0;
}

#show-single-report-modal *{
	margin-bottom: 0px;
}

#show-single-report-modal .my-title{
	font-size: 36px;
}

#show-single-report-modal .report-result{
	font-size: 14px;
	color: #353535;
}






