.blog-card {
	background-size: 100%;
	border-radius: 5px;
	box-shadow: 0 10px 20px -9px rgba(0, 0, 0, 0.5);
	color: #fff;
	font-family: Ubuntu;
	height: 25em;
	left: 0;
	margin-bottom: 15px;
	margin-top: 15px;
	max-width: 100%;
	overflow: hidden;
	right: 0;
	text-align: center;
	top: 20%;
	transition: all 0.4s;
	width: 100%;
}

.blog-card a {
	color: #fff;
	text-decoration: none;
	transition: all 0.2s
}

.blog-card {
	background: rgba(64, 84, 94, 0.5);
	left: 0;
	top: 0;
	z-index: 10;
}

.blog-card {
	left: 0;
	top: 350px;
	z-index: 15;
}

.blog-card:hover {
	box-shadow: 0 13px 15px -9px rgba(0, 10, 30, 0.75);
}

.title-content > h3 {
	margin-top: 22.5px
}

.title-content > a:hover {
	color: #fff;
}

.blog-card:hover, .blog-card:active, .blog-card:focus {
	-ms-transform: scale(1.04);
	transform: scale(1.04);
}

.footer-content {
	height:15%;
	left: 0;
	position: relative;
	text-align: center;
	transition: all 0.6s;
	width: 100%;
	z-index: 20;
}

.icon-image {
	height: 56%;
	top: 20%;
}

.bot_name {
	color: Black;
	float: left;
	font-size:13px;
	height:100%;
	left: 0;
	line-height: 1em;
	padding-top: 1.5%;
	position: relative;
	width: 50%;
}

.col-lg-3, .col-md-4, .col-sm-6, .col-xs-7 {
	padding-left:10px;
	padding-right:10px;
}

.report_num {
	color: Black;
	float: left;
	font-size:13px;
	height:100%;
	padding-top: 1.5%;
	position: relative;
	width: 50%;
}

.compound {
	color:#fff;
	font-size:13px;
	height: 9%;
	line-height: 2em;
	padding-top: 2%;
	position: relative;
	text-align: left;
	width: 100%;
}

.title-content {
	height:20%;
	left: 0;
	text-align: center;
	top: 0;
	transition: all 0.6s;
	width: 100%;
	z-index: 20;
}

.blog-card h3, h1 {
	display: inline-block;
	font-family: Ubuntu;
	font-size: 1.7em;
	font-weight: 400;
	letter-spacing: 1px;
	margin-bottom: 0;
}

.blog-card h3 a {
	transition: all 0.2s;
}

@keyframes changeLetter {
	0% {
		width: 10%;
	}
	100% {
		width: 80%;
	}
}

.intro {
	color: #ddd;
	font-style: italic;
	line-height: 18px;
	margin: 0 auto;
	width: 4em;
}

.intro a {
	color: #ddd;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	transition: all 0.2s
}

.intro a:hover {
	text-shadow: 0 8px 20px rgba(0, 0, 0, 0.95);
}

.card-info {
	bottom: -40px;
	box-sizing: border-box;
	left: 0;
	line-height: 24px;
	margin: 0 auto;
	opacity: 0;
	padding: 0 50px;
	width: 100%;
	/*font-style: 16px;*/
	z-index: 20;
}

.card-info a {
	background: #fff;
	border-radius: 2px;
	display: block;
	font-size: 0.8em;
	padding: 3px 10px;
	width: 12em;
}

.licon {
	display: inline-block;
	height: 15px;
	position: relative;
	vertical-align: middle;
	width: 23px;
}

.licon:before {
	background: url(https://nodws.github.io/NodPen/postItem/licons.svg?) -2px -6px no-repeat;
	background-size: 250px;
	content: "";
	display: inline-block;
	height: 20px;
	left: 0;
	position: absolute;
	top: -3px;
	vertical-align: middle;
	width: 26px;
}

.icon-white {
	filter: brightness(10);
}

.icon-black {
	filter: brightness(0);
	opacity: 0.6
}

@media (max-width: 500px) {
	.card-info {
		display: none
	}

	.blog-card:hover .title-content, .title-content {
		margin-top: 1em
	}

	.blog-card {
		height: 300px
	}

	.blog-card h3 {
		font-size: 1.3em
	}

	.intro {
		font-size: 0.8em
	}
}

.button-list-view {
	background-color: #24cf5f;
	border: 0;
	border-radius: 2px;
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
	color: #ffffff;
	font-size: 12px;
	letter-spacing: 1px;
	margin-right: 15px;
	outline: 0;
	padding: 12px 25px;
	text-transform: uppercase;
	transition: all .2s;
}

.button-list-view:hover, .button-add:active, .button-add:focus {
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.button-list-view-delete {
	background-color: red;
	border: 0;
	border-radius: 2px;
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
	color: #ffffff;
	font-size: 12px;
	letter-spacing: 1px;
	margin-right: 15px;
	outline: 0;
	padding: 12px 25px;
	text-transform: uppercase;
	transition: all .2s;
}

.button-list-view-delete:hover, .button-add:active, .button-add:focus {
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
