@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}

.social-account-container {
	display: inline-block;
	position: relative;
}

.btn-add-remove-account {
	pointer-events: none;
	position: absolute;
	right: 10px;
	top: 10px;
}

.user-profile-picture {
	max-height: 150px;
	min-height: 150px;
}

.social-button {
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.social-button:hover {
	opacity: 0.65;
}

.user-info {
	border:none;
	width:100%;
}

.user-field {
	border-bottom:1px solid DarkGray;
	border-left:none;
	border-right:none;
	border-top:none;
	padding-bottom:12px;
	padding-top:12px
}

.user-data {
	border-bottom:1px solid DarkGray;
	border-left:none;
	border-right:none;
	border-top:none;
	color:Gray;
	padding-bottom:12px;
	padding-top:12px
}

.edit-field {
	border-bottom:1px solid DarkGray;
	border-left:none;
	border-right:none;
	border-top:none;
	color:#337ab7;
	padding-bottom:12px;
	padding-right:10px;
	padding-top:12px;
	text-align: right;
}

.customButton {
	background-color: white;
	border: 1px solid #337ab7;
	border-radius: 4px;
	color: #337ab7;
	font-size:14px;
	padding-bottom:10px;
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
}

.customButton:hover {
	background-color: #337ab7;
	border-radius: 4px;
	color: white;
	font-size:14px;
	padding-bottom:10px;
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
}

.settingsHeader {
	font-family: initial;
	font-size: 26px;
	font-family: Ubuntu;
}

.signupHeader {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 26px;
	font-weight: bold;
	font-family: Ubuntu;
}

.settingsText {
	font-family: initial;
	font-size: 16px;
	font-family: Ubuntu;
}

.signupText {
	font-size: 16px;
	font-family:Ubuntu;
}

.form-control {
	height:45px;
}
