
  <section class="container-fluid" ng-controller="ListViewController">

    <style type="text/css">
      .button-search {
        color: #ffffff;
        background-color: #24cf5f;
        padding: 12px 25px;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: 0;
        border-radius: 2px;
        outline: 0;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
        transition: all .2s; }
      .button-search:hover, .button-search:active, .button-search:focus {
        -ms-transform: scale(1.1);
        transform: scale(1.1); }
    </style>

    <h1 class="Title">Search Essential Oils</h1>
    <button class="button-search" ng-click="openModal()" target="_blank">
      New Oil
    </button>
    <search-bar></search-bar>


    <div class="oils container-fluid col-md-12">
      <div ng-repeat="oil in oils | orderBy: 'title' | regex: ['title'] : this" class="col-sm-4 list_view_box_space">
          <oil-card></oil-card>
      </div>
    </div>

  </section>
