<!-- The chat view -->
<section class="container" ng-controller="ListViewController">
  <div class="page-header">
    <h1>Oil</h1>
  </div>

  <p>
    <a class="btn btn-primary btn-lg" ng-click="addNewOil()" target="_blank">Learn more</a>
  </p>

  <div class="list-group">
    <a ng-repeat="oil in oils" ui-sref="oils.view({oilId: oil._id})" class="list-group-item">
      <div class="row">
      <div class="col-xs-8">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="oil.created | date:'mediumDate'"></span>
        by
        <span ng-bind="oil.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="oil.title"></h4>
      <p class="list-group-item-text" ng-bind="oil.content"></p>
      </div>
      <div class="col-xs-4">
      <img ng-src="{{oil.icon}}" align="right" height="100" />
      </div>
      </div>
    </a>
  </div>

  <div class="alert alert-warning text-center" ng-if="oils.$resolved && !oils.length">
    No oils yet, why don't you <a ui-sref="oils.create">create one</a>?
  </div>
</section>
