.quoter {
	color: #95B358;
	font-size: 1.5em
}

#companyDetailsHeader h1 {
	font-size: 35px;
}

#companyDetailsHeader h2 {
	font-size: 20px;

}

#companyDetailsHeader{
	height: 200px;
	margin-bottom: 25px;
	margin-top: 5px;
	margin-right: 5px;

}

.left_header{
	float: left;
}

.right_header{
	float: right;

}

#companyIcon{
	height: 200px;
	width: 200px;
	border-radius: 7px;
}

#tableDiv {
	cursor: pointer;
}

