<!-- The chat view -->
<section class="container" ng-controller="CompanyDetailsController">
  <div id="companyDetailsHeader">
    <span class="left_header">
      <h1 class="Title">{{company.name}}</h1>
<br><br>
      <!--<button class="button-list-view-delete" ng-click="removeCompany()">Remove</button>-->
    </span>
    <span class="right_header">
      <a href="{{company.website}}" target="_blank"><img id="companyIcon" ng-src="{{company.icon}}"/></a>
    </span>
  </div>

  <!--%for item in rows['orders']:-->
  <!--<td>{{item}}</td>-->
  <!--%end-->
  <div id="tableDiv">
    <table cellspacing="0" class="reports table table-striped table-hover table-responsive">
      <thead class="thead-inverse">
      <tr>
        <th>
          <button style="background-color: Transparent; border: none;" ng-click="sortBy('name')">Batch Number <span class="glyphicon glyphicon-sort"></span></button>
          <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
        </th>
        <th>
          <button style="background-color: Transparent; border: none;" ng-click="sortBy('oil.name')">Oil Name <span class="glyphicon glyphicon-sort"></span></button>
          <span class="sortorder" ng-show="propertyName === 'oil.name'" ng-class="{reverse: reverse}"></span>
        </th>
        <th>
          <button style="background-color: Transparent; border: none;" ng-click="sortBy('date_tested')">Date Tested <span class="glyphicon glyphicon-sort"></span></button>
          <span class="sortorder" ng-show="propertyName === 'date_tested'" ng-class="{reverse: reverse}"></span>
        </th>
        <th>
          <button style="background-color: Transparent; border: none;" ng-click="sortBy('country_of_origin')">Country of Origin <span class="glyphicon glyphicon-sort"></span></button>
          <span class="sortorder" ng-show="propertyName === 'country_of_origin'" ng-class="{reverse: reverse}"></span>
        </th>
        <th>
          <button style="background-color: Transparent; border: none;" ng-click="sortBy('result')">Result <span class="glyphicon glyphicon-sort"></span></button>
          <span class="sortorder" ng-show="propertyName === 'result'" ng-class="{reverse: reverse}"></span>
        </th>

      </tr>
      </thead>
      <tbody id = "oilTable">
        <tr id="rowTemplate" ng-repeat="report in reports | orderBy:propertyName:reverse" ng-if="(report.company.name == company.name)" ng-click="openSingleCompanyModal(report)">
          <th>{{report.name}}</th>
          <td>{{report.oil.name}}</td>
          <td>{{getDate(report.date_tested)}}</td>
          <td>{{report.country_of_origin}}</td>
          <td>{{report.result}}</td>
        </tr>
      </tbody>
    </table>
  </div>


</section>
