<section>
  <link rel="stylesheet" type="text/css" href="modules/oil-details/client/css/oil-details-single.css">
  <div class="modal-header">
    <h1 >{{report.oil.name}}</h1>
    <h2 >{{report.name}}</h2>
    <h2 >{{report.company.name}}</h2>
    <h2 >{{report.country_of_origin}}</h2>
    <h2 >{{report.date_tested}}</h2>
    <h2 >{{report.result}}</h2>
  </div>

  <div class="modal-body">

    <h2>This is where the pdf preview goes</h2>
  </div>

  <div class="modal-footer">
    <button type="button" class="button-list-view"  ng-click="$dismiss()">Edit</button>
    <button type="button" class="button-list-view"  ng-click="$dismiss()">OK</button>
  </div>
</section>
