<!-- The chat view -->
<section class="container" ng-controller="OilDetailsController">
  <div id="oilDetailsHeader">
    <span class="left_header">
      <h1 class="Title">{{oil.name}}</h1>
      <h2 class="Title">{{oil.botanical_name}}</h2>
    </span>
    <span class="right_header">
      <img id="oilIcon" ng-src="{{oil.icon}}"/>
    </span>
  </div>

  <!--%for item in rows['orders']:-->
  <!--<td>{{item}}</td>-->
  <!--%end-->
  <div id="tableDiv">
    <table class="table table-striped table-hover table-responsive">
      <thead class="thead-inverse">
      <tr>
        <th>Batch Number</th>
        <th>Company</th>
        <th>Date Tested</th>
        <th>Country of Origin</th>
        <th>Result</th>
      </tr>
      </thead>
      <tbody id = "oilTable">
        <tr id="rowTemplate" ng-repeat="report in reports" ng-if="(report.oil.name == oil.name)" ng-click="openSingleOilModal(report)">
          <th>{{report.name}}</th>
          <td>{{report.company.name}}</td>
          <td>{{report.date_tested}}</td>
          <td>{{report.country_of_origin}}</td>
          <td>{{report.result}}</td>
        </tr>
      </tbody>
    </table>
  </div>


</section>
