<!-- The chat view -->
<section class="container" ng-controller="OilDetailsController">
  <div id="oilDetailsHeader">
    <span class="left_header">
      <h1 class="Title">{{oil.name}}</h1>
      <h2 class="Title">{{oil.botanical_name}}</h2>

      <!--<button class="button-list-view-delete" ng-click="removeOil()">Remove</button>-->
    </span>
    <span class="right_header">
      <img id="oilIcon" ng-src="{{oil.icon}}"/>
    </span>
  </div>

  <!--%for item in rows['orders']:-->
  <!--<td>{{item}}</td>-->
  <!--%end-->
  <div id="tableDiv">
    <table id="table-oils" cellspacing="0" class="reports table table-striped table-hover table-responsive sortable">
      <thead class="thead-inverse">
      <tr>
        <th>
          <button style="background-color: Transparent; border: none;" ng-click="sortBy('name')">Batch Number <span class="glyphicon glyphicon-sort"></span></button>
          <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
        </th>
        <th>
          <button style="background-color: Transparent; border: none;" ng-click="sortBy('company.name')">Company <span class="glyphicon glyphicon-sort"></span></button>
          <span class="sortorder" ng-show="propertyName === 'company.name'" ng-class="{reverse: reverse}"></span>
        </th>
        <th>
          <button style="background-color: Transparent; border: none;" ng-click="sortBy('date_tested')">Date Tested <span class="glyphicon glyphicon-sort"></span></button>
          <span class="sortorder" ng-show="propertyName === 'date_tested'" ng-class="{reverse: reverse}"></span>
        </th>
        <th>
        <button style="background-color: Transparent; border: none;" ng-click="sortBy('country_of_origin')">Country of Origin <span class="glyphicon glyphicon-sort"></span></button>
        <span class="sortorder" ng-show="propertyName === 'country_of_origin'" ng-class="{reverse: reverse}"></span>
        </th>
        <th>
          <button style="background-color: Transparent; border: none;" ng-click="sortBy('result')">Result <span
            class="glyphicon glyphicon-sort"></span></button>
          <span class="sortorder" ng-show="propertyName === 'result'" ng-class="{reverse: reverse}"></span>
        </th>

      </tr>
      </thead>
      <tbody id="oilTable">
      <tr id="rowTemplate" ng-repeat="report in reports | orderBy:propertyName:reverse"
          ng-if="(report.oil.name == oil.name)" ng-click="openSingleOilModal(report)">
        <th>{{report.name}}</th>
        <td>{{report.company.name}}</td>
        <td>{{getDate(report.date_tested)}}</td>
        <td>{{report.country_of_origin}}</td>
        <td>{{report.result}}</td>
      </tr>
      </tbody>
    </table>

  </div>


</section>
