<section>
  <div class="modal-header">
    <h1 class="modal-title">{{report.oil.name}}</h1>
    <h2 class="modal-title">{{report.name}}</h2>
    <h2 class="modal-title">{{report.company}}</h2>
    <h2 class="modal-title">{{report.country_of_origin}}</h2>
    <h2 class="modal-title">{{report.result}}</h2>
    <h2 class="modal-title">{{report.date_tested}}</h2>
  </div>

  <div class="modal-body">

    <h2 class="modal-title">This is where the pdf preview goes</h2>
  </div>

  <div class="modal-footer">
    <button type="button" class="button-list-view"  ng-click="$dismiss()">OK</button>
  </div>
</section>
