<script src="../controllers/oil-details.client.controller.js"></script>
<section id="show-single-report-modal">
  <link rel="stylesheet" type="text/css" href="modules/oil-details/client/css/oil-details-single.css">
  <div class="modal-header">

    <p class="my-title">Bash #: {{report.name}}</p>
    <p class="report-result">Result:
      <p1 ng-style="{'color':'{{getColor(report.result)}}'}">{{report.result}}</p1>
    </p>

  </div>

  <div class="modal-body">
    <div class="col-sm-6">
      <p><b>Company Name:</b> {{report.company.name}}</p>
      <p><b>Oil Name: </b> {{report.oil.name}}</p>
    </div>
    <div class="col-sm-6">
      <p><b>Country of Origin:</b> {{report.country_of_origin}}</p>
      <p><b>Date Tested:</b> {{date}}</p>
    </div>


    <embed ng-src="{{simplify_pdf}}" width="200px" height="200px"></embed>
    <embed ng-src="{{extended_pdf}}" width="200px" height="200px"></embed>

  </div>

  <div class="modal-footer">
    <button type="button" class="button-list-view"  ng-click="$dismiss()">Edit</button>
    <button type="button" class="button-list-view"  ng-click="$dismiss()">OK</button>
  </div>
</section>
