<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>

<section class="row">
  <div style="padding-left:120px;padding-top:20px">
    <div class="row text-center mb40">
      <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
        <h2 class="mb30 text-black probootstrap-heading">Cancel Subscription</h2>
      </div>
    </div>
    <p class="settingsText">You can cancel your subscription at any time. You'll still be able to access the site and our materials until the end of your billing cycle. At that time, your account will be closed. If you decide at some point in the future you'd like to resume your membership, just sign up again from the home page!</p><br>
    <div style="text-align:center">
      <button class="btn btn-primary" ng-click="cancelSubscription($event)">Cancel Subscription</button>
    </div>
  </div>
</section>
