<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>

<section class="row">
  <div style="padding-left:120px;padding-top:20px">
    <div class="settingsHeader" style="padding-bottom:20px"><b>General Account Settings</b></div>
    <table class="user-info">
      <tr class="settingsText">
        <th class="user-field" style="border-top:1px solid #004445;">First Name</th>
        <td class="user-data" style="border-top:1px solid #004445;">{{vm.user.firstName}}</td>
        <td class="edit-field" style="border-top:1px solid #004445;"><a ui-sref="settings.profile">Edit</a></td>
      </tr>
      <tr class="settingsText">
        <th class="user-field">Last Name</th>
        <td class="user-data">{{vm.user.lastName}}</td>
        <td class="edit-field"><a ui-sref="settings.profile">Edit</a></td>
      </tr>
      <tr class="settingsText">
        <th class="user-field">Username</th>
        <td class="user-data">{{vm.user.username}}</td>
        <td class="edit-field"><a ui-sref="settings.profile">Edit</a></td>
      </tr>
      <tr class="settingsText">
        <th class="user-field" style="border-bottom:1px solid #004445;">Email</th>
        <td class="user-data" style="border-bottom:1px solid #004445;">{{vm.user.email}}</td>
        <td class="edit-field" style="border-bottom:1px solid #004445;"><a ui-sref="settings.profile">Edit</a></td>
      </tr>
    </table>
  </div>
</section>
