<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>

<section>
  <div class="row">
    <nav class="col-sm-2 col-md-2">
      <ul class="nav nav-pills nav-stacked settings-menu">
        <li ui-sref-active="active">
          <a ui-sref="settings.general">General</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.profile">Edit Profile</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.picture">Change Profile Picture</a>
        </li>
        <li ui-sref-active="active" ng-show="vm.user.provider === 'local'">
          <a ui-sref="settings.password">Change Password</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.payment">Update Payment Information</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.cancel">Cancel Subsctiption</a>
        </li>
      </ul>
    </nav>
    <div class="col-sm-9 col-md-8 settings-view">
      <div ui-view></div>
    </div>
  </div>
</section>
