<section class="row">
  <div style="padding-left:50px;padding-top:20px">
    <div style="font-size:24px"><b>Update Payment Information</b></div>
    <hr style="border-width:2px;border-color:DarkGray">
    <p style="font-size:14px">You can update your credit card information at any time. It's best to keep this information up to date, so you can continue using our services. If for some reason your payment does fail, though, we will send you a notification via email and allow for a three day grace period so you have the chance to update your payment information. If you'd like to cancel your subscription, please navigate to the <a ui-sref="settings.cancel">cancel subscription</a> tab.</p><br>
    <div style="text-align:center">
      <button class="btn btn-primary" ng-click="updatePayment($event)">Update Card Details Now</button>
    </div>
  </div>
</section>
