<section class="row">
  <div style="padding-left:50px;padding-top:20px">
    <div style="font-size:24px"><b>Update Payment Information</b></div>
    <hr style="border-width:2px;border-color:DarkGray">
    <p style="font-size:14px">You can update your credit card information at any time. It's best to keep this information up to date so you can continue using our services. If for some reason your payment fails, though, we will always send you a notification via email so you have the chance to update your payment information and not lose your membership.</p><br>
    <div style="text-align:center">
      <button class="customButton" ng-click="updatePayment($event)">Update Card Details Now</button>
    </div>
  </div>
</section>
