<section class="container-fluid">
  <h1 class="Title">Search Essential Oils</h1>

  <br><br>

  <search-bar></search-bar>

  <div class="oils container-fluid col-md-12">
    <uib-tabset active="activeJustified">
      <uib-tab index="0" heading="Oil" class="col-md-3">
        <div ng-repeat="oil in oils | orderBy: 'title' | regex: ['title'] : this" class="col-sm-4 list_view_box_space">
          <oil-card></oil-card>
        </div>
        <div ng-repeat="oil in oils" class="list_view_box_space col-md-3 col-sm-6 col-xs-12">
          <oil-card></oil-card>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</section>
