<section class="container-fluid">
  <h1 class="Title">Search Essential Oils</h1>

  <br><br>

  <span class="input-group-btn">
    <button class="button-list-view" ng-click="openOilModal()" target="_blank" style="margin-right:1.25em;">
      New Oil
    </button>

    <button class="button-list-view" ng-click="openCompanyModal()" target="_blank">
      New Company
    </button>

      <button class="button-list-view" ng-click="openReportModal()" target="_blank">
      New Report
    </button>
  </span>

  <search-bar></search-bar>

  <div class="oils container-fluid col-md-12">
    <uib-tabset active="activeJustified">
      <uib-tab index="0" heading="Oil" class="col-md-3">
        <!--<div ng-repeat="oil in oils | orderBy: 'title' | regex: ['title'] : this" class="col-sm-4 list_view_box_space">-->
          <!--<oil-card></oil-card>-->
        <!--</div>-->
        <div ng-repeat="oil in oils" class="list_view_box_space col-md-3 col-sm-6 col-xs-12">
          <oil-card></oil-card>
        </div>
      </uib-tab>
      <uib-tab index="1" heading="Company" class="col-md-3">
        <!--<div ng-repeat="report in oils | orderBy: 'title' | regex: ['title'] : this" class="col-sm-4 list_view_box_space">-->
        <!--<report-card></oil-card>-->
        <!--</div>-->
        <div ng-repeat="company in companies" class="col-sm-4 list_view_box_space">
        <company-card></company-card>
        </div>
      </uib-tab>
      <!--<uib-tab index="2" heading="Reports-testing" class="col-md-3">-->
        <!--<div class="list-group">-->
          <!--<div ng-repeat="report in reports | orderBy: 'title' | regex: ['title'] : this"-->
               <!--class="col-sm-4 list_view_box_space">-->
            <!--<report-list></report-list>-->
          <!--</div>-->
          <!--<div ng-repeat="report in reports"-->
               <!--class="list_view_box_space">-->
            <!--<report-list></report-list>-->
          <!--</div>-->
          <!--</div>-->
      <!--</uib-tab>-->
    </uib-tabset>
  </div>
</section>
