<section>
  <div class="modal-header">
    <h4 class="modal-title">New Report</h4>
  </div>

  <div class="modal-body">



    <input type="text"
           class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
           ng-model="report.name" placeholder="Batch Number" required="" autofocus="" style="">

    <br>

    <input type="text"
           class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
           ng-model="report.oil.name" placeholder="Oil Name" required="" autofocus="" style="">

    <br>

    <input type="text"
           class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
           ng-model="report.company.name" placeholder="Company Name" required="" autofocus="" style="">

    <br>

    <input type="text"
           class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
           ng-model="report.date_tested" placeholder="Date Tested (mm/dd/yyyy)" required="" autofocus="" style="">

    <br/>

    <input type="text"
           class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
           ng-model="report.country_of_origin" placeholder="Country of Origin" required="" autofocus="" style="">
    <br/>

    <input type="checkbox" id="resultCheckBox">
    <label for="resultCheckBox">Result</label>

    <br>
    <br>

    <input type="text"
           class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
           ng-model="report.description" placeholder="Description (optional)" required="" autofocus="" style="">

    <br>

  <div class="row">
    <fieldset class="col-xs-6">

      <div class="text-center form-group">
        <button class="btn btn-default btn-file" ngf-select="(iconSelected = true) && (loading = false)"
                ng-model="report.simplify_pdf" ngf-before-model-change="loading = true" ngf-resize="{width: 400}"
                ngf-resize-if="$width > 400 || $height > 400">Select simplify PDF
        </button>
      </div>
    </fieldset>
    <fieldset class="col-xs-6">
      <div class="text-center form-group">
        <button class="btn btn-default btn-file" ngf-select="(iconSelected = true) && (loading = false)"
                ng-model="report.extended_pdf" ngf-before-model-change="loading = true" ngf-resize="{width: 400}"
                ngf-resize-if="$width > 400 || $height > 400">Select Picture
        </button>
      </div>
    </fieldset>
  </div>

  </div>

  <div class="modal-footer">
    <button class="button-list-view" ng-click="saveReport()">Add New Report</button>
  </div>
</section>
