<section>
  <div class="modal-header">
    <h4 class="modal-title">New Report</h4>
  </div>

  <div class="modal-body">
    <input type="text"
           class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
           ng-model="report.name" placeholder="Report Name" required="" autofocus="" style="">

    <input type="text"
           class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
           ng-model="report.date_tested" placeholder="Date Tested" required="" autofocus="" style="">
<br/>
    <input type="text"
           class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
           ng-model="report.description" placeholder="Description" required="" autofocus="" style="">
    <br/>

    <input type="text"
           class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
           ng-model="report.country_of_origin" placeholder="Country of Origin" required="" autofocus="" style="">
    <br/>

    <input type="text"
           class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
           ng-model="report.result" placeholder="Result" required="" autofocus="" style="">

    <br/>

    <input type="text"
           class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
           ng-model="report.oil.name" placeholder="Oil Name" required="" autofocus="" style="">

  <div class="row">
    <fieldset class="col-xs-6">

      <div class="text-center form-group">
        <button class="btn btn-default btn-file" ngf-select="(iconSelected = true) && (loading = false)"
                ng-model="report.simplify_pdf" ngf-before-model-change="loading = true" ngf-resize="{width: 400}"
                ngf-resize-if="$width > 400 || $height > 400">Select simplify PDF
        </button>
      </div>
    </fieldset>
    <fieldset class="col-xs-6">
      <div class="text-center form-group">
        <button class="btn btn-default btn-file" ngf-select="(iconSelected = true) && (loading = false)"
                ng-model="report.extended_pdf" ngf-before-model-change="loading = true" ngf-resize="{width: 400}"
                ngf-resize-if="$width > 400 || $height > 400">Select Picture
        </button>
      </div>
    </fieldset>
  </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="saveReport()">Add new Oil</button>
  </div>
</section>
