<section>
  <div class="modal-header">
    <h4 class="modal-title">New Report</h4>
  </div>

  <div class="modal-body">



    <input type="text"
           class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
           ng-model="report.name" placeholder="Batch Number" required="" autofocus="" style="">

    <br>

    <div class="btn-group" uib-dropdown is-open=$scope.status.isopen1>
      <button id="single-button" type="button" class="button-list-view" uib-dropdown-toggle ng-disabled="disabled">
        {{report.oil.name}} <span class="caret"></span>
      </button>
      <ul  class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-model="report.oil.name">
        <li ng-repeat="oil in oils" role="menuitem" ng-click="changeOilText(oil.name)"><a href="#">{{oil.name}}</a></li>
      </ul>
    </div>

    <br><br>

    <div class="btn-group" uib-dropdown is-open=$scope.status.isopen2>
      <button id="single-button2" type="button" class="button-list-view" uib-dropdown-toggle ng-disabled="disabled">
        {{report.company.name}} <span class="caret"></span>
      </button>
      <ul  class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-model="report.company.name">
        <li ng-repeat="company in companies" role="menuitem" ng-click="changeCompanyText(company.name)"><a href="#">{{company.name}}</a></li>
      </ul>
    </div>

    <br><br>

    <input type="text"
           class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
           ng-model="report.date_tested" placeholder="Date Tested (mm/dd/yyyy)" required="" autofocus="" style="">

    <br/>

    <input type="text"
           class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
           ng-model="report.country_of_origin" placeholder="Country of Origin" required="" autofocus="" style="">
    <br/>

    <input type="checkbox" id="resultCheckBox">
    <label for="resultCheckBox">Result (pass/fail)</label>

    <br>
    <br>

    <input type="text"
           class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
           ng-model="report.description" placeholder="Description (optional)" required="" autofocus="" style="">

    <br>

  <div class="row">
    <fieldset>

      <div class="text-center form-group">
        <button class="btn btn-default btn-file" ngf-select="(iconSelected = true) && (loading = false)"
                ng-model="report.simplify_pdf" ngf-before-model-change="loading = true" ngf-resize="{width: 400}"
                ngf-resize-if="$width > 400 || $height > 400" accept="pdf/*">Select PDF
        </button>

        <p id="pdf_name" ng-show="report.simplify_pdf">{{report.simplify_pdf.name}}</p>
      </div>
    </fieldset>
    <!--<fieldset class="col-xs-6">-->
      <!--<div class="text-center form-group">-->
        <!--<button class="btn btn-default btn-file" ngf-select="(iconSelected = true) && (loading = false)"-->
                <!--ng-model="report.extended_pdf" ngf-before-model-change="loading = true" ngf-resize="{width: 400}"-->
                <!--ngf-resize-if="$width > 400 || $height > 400">Select extended PDF-->
        <!--</button>-->
      <!--</div>-->
    <!--</fieldset>-->
  </div>

  </div>

  <div class="modal-footer">
    <p id="errorMessage" style="color:red;">{{error_message}}</p>
    <button class="button-list-view" ng-click="saveReport()">Add New Report</button>

  </div>
</section>
