.content {
	margin-top: 50px;
}

#parallax .container-fluid {
	margin-left: 0 auto;
	margin-right: 0 auto;
	padding-left: 0;
	padding-right: 0;
}

.no-padding {
	padding-left: 0;
	padding-right: 0;
}

.undecorated-link:hover {
	text-decoration: none;
}

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}

.header-profile-image {
	border-radius: 50%;
	height: 28px;
	margin-right: 5px;
	opacity: 0.8;
	width: 28px;
}

.open .header-profile-image,
a:hover .header-profile-image {
	opacity: 1;
}

.user-header-dropdown-toggle {
	padding-bottom: 11px !important;
	padding-top: 11px !important;
}

.user-primary-account {
	font-size: 30px;
	position: absolute;
	right: 10px;
	top: 10px;
}

.error-text {
	display: none;
}

.has-error .help-block.error-text {
	display: block;
}

.has-error .help-inline.error-text {
	display: inline;
}

.navbar-default {
	background: #b2b2b2;
	border: 0;
	font-family: Poppins;
}

.navbar-brand {
	color: #b2b2b2 !important;
	font-size: 25px;
	font-weight: bold;
}

#header {
	color: #b2b2b2 !important;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

/*Overrides boostrap.css pulls img over to the left*/
#navbar-img img{
	margin-left: 0px;
}

/*Overrides boostrap.css navbar color*/
.navbar-default .navbar-nav>li>a {
	color: #b2b2b2 !important;
}



h1,h2,h3,h4,h5,h6{
	font-family:Poppins;
}

/*#about-right-id*/ p{
font-family:Roboto;
}

#intro h1 {
	font-size: 50px;
	margin-bottom: 20px;
}

#intro .container-intro {
	margin-top: 150px;
}

#about {
	margin-top: 200px;
}

#contact {
	background: #f1f1f1;
	margin-bottom: 50px;
	margin-top: 20px;
	padding: 10px 0 10px 0;
}

@media (min-width: 768px){
	.container {
		width: 100%;
	}
}

#parallax h4, #parallax h5, #parallax h6{
	letter-spacing: 1%;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

#parallax h4{
	color: white;
	font-size: 400%;
	margin: 6.5% 0;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-transform: uppercase;
}

#parallax h5{
	color: white;
	font-family:Poppins;
	font-size: 575%;
	margin: auto;
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
	padding-bottom: 200px;
	padding-top: 200px;
	text-transform: uppercase;
}

#parallax h6{
	color: #ffffff;
	font-size: 200%;
	padding-bottom: 150px;
	padding-top: 150px;
}

#parallax .parallax1, .parallax2, .parallax3{
	margin: 0;
	margin-left: 0;
	margin-right: 0;
}

#parallax .parallax1 {
	background: url('img/coverphotoplants.jpg') repeat fixed 50%;
	height: 50%;
}

#parallax .parallax2 {
	background: url('img/topical-oil-drop-in-hand.jpg') repeat fixed 50%;
	height: 20%;
}

#parallax .parallax3 {
	background: url('img/lavender.jpg') repeat fixed 50%;
	height: 20%;
}

#parallax .parallax-inner {
	padding: 20% 0 20% 0;
}

#logos img{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}

#pricing-companies{
	margin-left: 10%;
}

#pricing-customers{
	margin-right: 10%;
}

#frontpage1 .container{
	padding-right: 0;
	padding-left: 0;
	margin-right: 0;
	margin-left: 0;
}

.container > .testcontainer {
	padding-right: -100px;
	padding-left: -100px;
	margin-right: 0;
	margin-left: 0;
}
@media (min-width: 768px) {
  .container > .testcontainer {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container > .testcontainer {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container > .testcontainer {
    width: 100%;
  }
}

#paragraph-font {
	font-size: 20px;
}

.probootstrap-service-item .glyphicon {
    font-size: 100px;
}

.probootstrap-service-item .glyphicon-right {
	float: right;
}

#ipad-section h2:after {
	background: #BDA26B;
	border: 0;
	content: " ";
	display: block;
	height: 2px;
	margin: 20px auto;
	transition: all 0.2s;
	width: 75%;
}

/*TODO: modify this line*/
#main-page h2 {
	font-size: 25px;
}

#main-page h3 {
	font-size: 50px;
}

#ipad img {
	margin-left: 15%;
}

/*#left-ipad img {
	margin-right: 15%;
}
*/